@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* gradient*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    to bottom,
    var(--soft-violet),
    var(--soft-blue)
  );
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 24px;
  width: 900px;
  height: 488px;
  box-shadow: 0 20px 20px hsla(240, 42%, 46%, 0.568);
}

.visual-side {
  position: relative;
  width: 40%;
}

.visual-side > * {
  position: absolute;
}

.visual-side > .woman-pattern-wrapper {
  overflow: hidden;
  width: 110%;
  height: 100%;
}

.visual-side > .woman-pattern-wrapper > img.woman {
  position: absolute;
  width: 450px;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
}

.visual-side > .woman-pattern-wrapper > img.pattern {
  position: absolute;
  width: 900px;
  left: -525px;
  top: -55%;
}

.visual-side > img.box {
  width: 180px;
  left: -88px;
  top: 42%;
}


.faq-side {
  width: 60%;
  padding: 50px 80px 80px;
}

h1 {
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.accordion-item {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 16px 16px 16px 0;
}

.accordion-title {
  color: var(--very-dark-grayish-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s, font-weight 0.5s;
}

.accordion-title > img {
  width: 12px;
  transition: 0.7s;
}

.accordion-text {
  color: var(--dark-grayish-blue);
  overflow: hidden;
  transition: max-height 0.3s linear, margin-top 0.1s 0.3s linear;
  max-height: 0;
  font-size: 13px;
}

.accordion-item:not(.show) > .accordion-title:hover {
  color: var(--soft-red);
}

.accordion-item.show > .accordion-title {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.accordion-item.show > .accordion-text {
  max-height: 100px;
  margin-top: 14px;
  transition: max-height 0.5s 0.2s linear, margin-top 0.1s 0.1s linear;
}

.accordion-item.show > .accordion-title > img {
  transform: scale(1, -1);
}

footer,
footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
}
